@property --rotateX {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --rotateY {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --rotateZ {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes c1 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 90deg; 
        --rotateX: 0deg;
    } 66% {
        --rotateY: 90deg; 
        --rotateX: 90deg;
        --rotateZ: 0deg;
    } 100% {
        --rotateZ: 90deg;
        --rotateY: 0deg; 
        --rotateX: 0deg;
    }
}

@keyframes c2 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 90deg; 
        --rotateX: 0deg;
    } 66% {
        --rotateY: 90deg; 
        --rotateX: 90deg;
    } 100% {
        --rotateY: 90deg; 
        --rotateX: 90deg;
    }
}

@keyframes c3 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 90deg; 
    } 66% {
        --rotateY: 90deg; 
    } 100% {
        --rotateY: 0deg; 
    }
}

@keyframes c4 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 90deg; 
    } 66% {
        --rotateY: 90deg; 
    } 100% {
        --rotateY: 0deg; 
    }
}

@keyframes c6 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 0deg; 
        --rotateX: 0deg;
    } 66% {
        --rotateY: 0deg; 
        --rotateX: 90deg;
        --rotateZ: 0deg; 
    } 100% {
        --rotateY: 0deg; 
        --rotateX: 90deg;
        --rotateZ: 90deg; 
    }
}

@keyframes c8 {
    0% {
        --rotateY: 0deg; 
    } 33% {
        --rotateY: 0deg; 
        --rotateX: 0deg;
    } 66% {
        --rotateY: 0deg; 
        --rotateX: 90deg;
    } 100% {
        --rotateY: 0deg; 
        --rotateX: 90deg;
    }
}