@property --rotateDeg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes u {
    from {
        --rotateX: 0; 
        --rotateY: 1; 
        --rotateZ: 0;
        --rotateDeg: 0deg;
    } to {
        --rotateX: 0; 
        --rotateY: 1; 
        --rotateZ: 0;
        --rotateDeg: 90deg;
    }
}

@keyframes r {
    from {
        --rotateX: 1; 
        --rotateY: 0; 
        --rotateZ: 0;
        --rotateDeg: 0deg;
    } to {
        --rotateX: 1; 
        --rotateY: 0; 
        --rotateZ: 0;
        --rotateDeg: 90deg;
    }
}

/* 
@keyframes turn2 {
    from {
        --rotateDeg: 0deg;
    } 50% {
        --rotateDeg: 0deg;
    } to {
        --rotateDeg: 90deg;
    }
} */

/* @property --rotateY {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@keyframes rotateY {
    from {
        --rotateY: 0;   
    } to {
        --rotateY: 1;   
    }
} */