:root {
    --color-red: #B90000; 
    --color-orange: #FF5900;
    --color-white: #ffffff; 
    --color-yellow: #FFD500; 
    --color-blue: #0045AD; 
    --color-green: #009B48; 
}

body {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;  
    width: 100vw; 
    margin: 0; 
}

body a {
    position: absolute; 
    top: 1em; 
    left: 1em;
}

body form {
    position: absolute; 
    top: 3em; 
    left: 1em;
}

body > div {
    position: relative; 
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotateY(25deg);
    container-type: style;
    --theme: base;
}

body form:has(div:nth-of-type(2) input:checked) + div {
    animation: spin 10s infinite linear; 
}

@keyframes spin {
    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

body:has(label:nth-of-type(2) > input:checked) {
    background-color: black; 
}

body form:has(label:nth-of-type(1) > input:checked) + div   {
    --theme: base;
}

body form:has(label:nth-of-type(2) > input:checked) + div  {
    --theme: hyper;
}

@container style(--theme: base) {
}

@container style(--theme: hyper) {
    body {
        background-color: black;
    }

    body > div > div > div:nth-child(n) {
        background-color: transparent; 
    }

    body > div > div > div::before {
        content: ""; 
        display: block; 
        width: 0cqw;
        height: 0cqh;
        border: 5px red solid;
        position: absolute;
        --position: -45px; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%) translateZ(var(--position)); 
        animation: hyper 5s infinite linear; 
    }

    body > div > div > div:is(:nth-of-type(2), :nth-of-type(4), :nth-of-type(6))::before {
        --position: 45px; 
    }
}

@property --position {
    syntax: "<length>";
    initial-value: 0px;
    inherits: false;
}

@keyframes hyper {
    to {
        --position: 0px; 
        width: 100cqw; 
        height: 100cqh; 
    }
}

body > div > div {
    --height: 100px; 
    --width: 100px; 
    --depth: 100px; 
    --position: calc(100px + 10px);  
    --translate: translate(-50%, -50%);
    --rotateDeg: 0deg; 
    height: var(--height);
    width: var(--width);
    position: absolute; 
    transform-style: preserve-3d;
}

body > div > div:nth-of-type(1) {
    --offset-x: -0.5;
    --offset-y: -0.5;
    --offset-z: 0.5; 
    animation: c1 15s infinite; 
    opacity: 1  ;
}

body > div > div:nth-of-type(2) {
    --offset-x: 0.5;
    --offset-y: -0.5;
    --offset-z: 0.5; 
    animation: c2 15s infinite; 
    opacity: 1  ;
}

body > div > div:nth-of-type(3) {
    --offset-x: 0.5;
    --offset-y: -0.5;
    --offset-z: -0.5; 
    animation: c3 15s infinite; 
    opacity: 1;
}

body > div > div:nth-of-type(4) {
    --offset-x: -0.5;
    --offset-y: -0.5; 
    --offset-z: -0.5; 
    animation: c4 15s infinite; 
    opacity: 1  ;
}

body > div > div:nth-of-type(5) {
    --offset-x: -0.5;
    --offset-y: 0.5; 
    --offset-z: 0.5; 
    animation: c5 15s infinite;
    opacity: 1  ;
}

body > div > div:nth-of-type(6) {
    --offset-x: 0.5;
    --offset-y: 0.5; 
    --offset-z: 0.5; 
    animation: c6 15s infinite; 
    opacity: 1  ;
}

body > div > div:nth-of-type(7) {
    --offset-x: 0.5;
    --offset-y: 0.5; 
    --offset-z: -0.5; 
    animation: c7 15s infinite;
    opacity: 1  ;
}

body > div > div:nth-of-type(8) {
    --offset-x: -0.5;
    --offset-y: 0.5; 
    --offset-z: -0.5; 
    animation: c8 15s infinite; 
    opacity: 1  ;
}

/* body > div > div:nth-child(n) {
    transform: var(--translate) rotateX(var(--rotateX, 0deg)) rotateY(var(--rotateY, 0deg)) rotateZ(var(--rotateZ, 0deg)) rotateX(var(--rotateX2, 0deg)) translate3d(calc(var(--offset-x) * var(--position)), calc(var(--offset-y) * var(--position)), calc(var(--offset-z) * var(--position)));
} */

/* body > div > div:nth-of-type(3), body > div > div:nth-of-type(4) { 
    animation: u1 3s 1 forwards; 
} 

body > div > :is(div:nth-of-type(1), div:nth-of-type(2)) {
    animation: m1 3s forwards;
}

body > div > :is(div:nth-of-type(6), div:nth-of-type(8)) {
    animation: r1 3s 1 forwards;
} */

div > div > div {
    position: absolute; 
    container-type: size; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}


div > div > div:nth-of-type(1) {
    height: var(--height); 
    width: var(--width); 
    transform: translate3d(0, 0, calc(var(--depth) * 0.5));
    background-color: var(--color-red); 
}

div > div > div:nth-of-type(2) {
    height: var(--height); 
    width: var(--width); 
    transform: translate3d(0, 0, calc(var(--depth) * -0.5));
    background-color: var(--color-orange); 
}

div > div > div:nth-of-type(3), div > div > div:nth-of-type(4) {
    --orientation: 0.5; 
    height: var(--height); 
    width: var(--depth); 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotateY(90deg) translate3d(0, 0, calc(var(--width) * var(--orientation)));
    background-color: var(--color-blue); 
}

div > div > div:nth-of-type(4) {
    --orientation: -0.5; 
    background-color: var(--color-green); 
}

div > div > div:nth-of-type(5), div > div > div:nth-of-type(6) {
    --ja: 0.5;
    height: var(--depth); 
    width: var(--width); 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotateX(90deg) translate3d(0, 0, calc(var(--height) * var(--ja)));
    background-color: var(--color-white); 
}

div > div > div:nth-of-type(6) {
    --ja: -0.5;
    background-color: var(--color-yellow); 
}